body{
    background-color: #424242;
}

.doodlr-holder{
    border: 1px solid #fff;
    width: 20%;
    margin: auto;    
    display: block;
    align-items: stretch;    
}

.doodlr{
    width: 20%;
}