html, body{
	margin: 0px;
	height: 100%;
	font-size: 100%;
}

*{
	box-sizing: border-box;
	font-family: "Segoe UI", sans-serif;
}
/*
.menu-right{
	top: 5px;
	left: 5px;
}
*/
.change{
	/*position: fixed;*/
	top: 5px;
	-ms-transform: translateX(200px);
	-webkit-transform: translateX(200px);
	-moz-transform: translateX(200px);
	-o-transform: translateX(200px);
	transform: translateX(200px);
	-webkit-transition: transform, 0.6s;
	-moz-transition: transform, 0.6s;
	-o-transition: transform, 0.6s;
	transition: transform, 0.55s;
}

.container {
	position: fixed;
	/*display: inline-block;*/
	cursor: pointer;
	background-color: transparent;
}

.bar1, .bar2, .bar3 {
	width: 35px;
	height: 5px;
	background-color: #818181;
	margin: 6px 0;
	transition: 0.5s;
}


/* Rotate first bar */
.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
	transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
	opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px) ;
	transform: rotate(45deg) translate(-8px, -8px) ;
}

 /* The side navigation menu */
.sidenav {
	height: 100%; /* 100% Full-height */
	width: 0; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 1; /* Stay on top */
	top: 0;
	left: 0;
	background-color: #111; /* Black*/
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 60px; /* Place content 60px from the top */
	transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
	font-family: "Segoe UI", sans-serif;
}

/* The navigation menu links */
.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 1.5em;
	/*font-family: "Segoe UI", sans-serif;*/
	color: #818181;
	display: block;
	transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
	color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px !important;
	margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
/*#main {
	transition: margin-left, .5s;
	position: absolute;
	display: inline-block;
}*/

a{
	text-decoration: none;
}

.header{
	font-size: 2.5em;
	/*text-decoration: none;*/
	font-family: "Segoe UI", sans-serif;
	font-weight: lighter;
	padding: 20px;
}

.heading-holder{
	text-decoration: none;
	text-align: center;
	padding: 20px;
}

.title{
	font-weight: lighter;
	text-align: center;
	font-size: 1.5em;
}

.text{
	/*font-family: "Microsoft Yi Baiti", sans-serif;*/
	font-family: "Segoe UI", sans-serif;
	font-size: 1.25em;
	font-weight: lighter;
	text-decoration: none;
}

.flex{
	/*border: 1px #888 dotted;*/
	margin: auto;
}

.divider{
	width: 100%;
	height: 100px;
	/*border: 1px #aaa dotted;*/
	/*background-color: #572E1B;*/
}

.doodlr-s{
	width: 50%;
	/*border: 1px #aaa dotted;*/
	border-radius: 250px;
	margin-top: 20px
}

.s-doodlr{
	/*border: 1px #000 solid;*/
	text-align: center;
	margin: auto;
	/*border-radius: 250px;*/
}

.doodlr-m{
	display: none;
}

.date{
	font-weight: bold;
	padding: 10px;
	background-color: #000;
	color: white !important
}

#intro{
	/*background-color: #fff;*/
	background-image: url("../images/coffee-beans.png");
	background-repeat: repeat-x;	
	background-color: #f7c282;
	background-position: left bottom;
}

#about{
	background-color: rgba(185, 188, 189, 0.5);
	padding: 20px;
	margin-bottom: 20px;
}

.wrapper{
	display: flex;
	align-items: stretch;
}

.intro .text{
	margin: 30px;
	color: #000;
}

/*#iw{
	background: -webkit-linear-gradient(#d9ad7c, #4040a1);
	background: -o-linear-gradient(#d9ad7c, #4040a1); 
	background: -moz-linear-gradient(#d9ad7c, #4040a1);
	background: linear-gradient(#d9ad7c, #4040a1);
}*/

#works{
	background-color: #4040a1;
	padding: 5px;
	background-image: url("../images/coffee-beans-i.png");
	background-repeat: repeat-x;
/*	display: flex;
	align-items: stretch;*/
}

.works [class*="work-"]{
	/*border: 1px #aaa dotted;*/
	background-color: rgba(185, 188, 189, 0.5);
	margin-bottom: 5px;
	padding: 20px;
	height: 200px;
	/*height: 20%;*/
}

.works .header{
	background-color: transparent;
	color: #ECF0F1;
	display: block;
	font-weight: lighter;
	text-align: center;
	opacity: 1;
	/*font-size: 2.5em;*/
	/*background-color: rgba(52, 73, 94, 0.2);
	margin-top: 0%;*/
}

.works-header{
	border: 1px dotted #fff;
}

.works .title{
	color: #000;
	opacity: 1;
	/*position: absolute;*/
	/*text-decoration: none;*/
}

.works .text{
	color: #000;
	/*font-size: 1.4em;*/
	margin: 20px;
	/*position: absolute;*/
	opacity: 1;	
}

#wc{
	background: -webkit-linear-gradient(#4040a1, #fff);
	background: -o-linear-gradient(#4040a1, #fff);
	background: -moz-linear-gradient(#4040a1, #fff);
	background: linear-gradient(#4040a1, #fff);
}

#contact{
	background-color: #fff;
	background-image: url("../images/coffee-beans.png");
	background-repeat: repeat-x;
	background-position: left bottom;
/*	display: flex;
	align-items: stretch;*/
}

.contact .label-holder{
	text-align: center;
}

.contact .text{
	margin: 20px;
}

.contact .form-holder{
	display: inline-block;
}

.contact [type="text"]{
	padding: 10px;
}

.contact .btn{
	text-align: center;
	margin: 0px 20px;
	background-color: #55ACEE;
	border: none;
	color: #fff;
	padding: 10px;
	border-radius: 5px;
	float: right;
}

/*#cl{
	background: -webkit-linear-gradient(#fff, #3b3a30);
	background: -o-linear-gradient(#fff, #3b3a30);
	background: -moz-linear-gradient(#fff, #3b3a30);
	background: linear-gradient(#fff, #3b3a30);
}*/

#links{
	background-color: #3b3a30;
/*	display: flex;
	align-items: stretch;*/
	padding: 20px;
	background-image: url("../images/coffee-beans-i.png");
	background-repeat: repeat-x;
}

.links .header{
	color: #ECF0F1;
	text-align: center;
	/*border: 1px #aaa dotted;*/
	display: block;
}

.links .text{
	color: #ECF0F1;
	/*column-count: 3;*/
	opacity: 1;
}

.link-holder [class*="link-"]{
	background-color: rgba(0, 0, 0, 0.5);
	/*float: left;*/
	padding: 20px;
	width: 100%;
	/*border: 1px #fff dotted;*/
	text-align: center;
}

.links .link-holder{
	column-gap: 5px;
	column-count: 2;
	-webkit-column-count: 2;  /* Chrome, Safari, Opera */ 
	-moz-column-count: 2 /* Firefox */
}

.links a{
	/*column-count: 3;
	column-fill: balance;*/
	/*border: 1px solid #fff;*/
	display: inline-block;
}

.link-holder .filler{
	display: none;
}

.link-holder div{
	/*display: inline-block;*/
	/*border: 1px dotted #aaa;*/
	margin-bottom: 5px;
}

.footer{
	text-align: center;
	padding: 20px;
	background-color: #66655D;
}

#year{
	opacity: 0.6;
	color: #ECF0F1;
}

@media screen and (orientation: landscape){

	/*.works .title{
		margin: auto;
	}

	.works .text{
		margin: auto;
	}*/

	#wc{
		display: none;
	}

	.contact br{
		display: none;
	}

	.contact .btn{
		clear: both;
		margin: 20px 0px;
	}

	.links .link-holder{
		column-count: 3;
	}

	.links .filler{
		display: inline-block;
	}
}

@media screen and (min-width: 720px){
	#wc{
		background: -webkit-gradient(linear, left top, left bottom, from(#4040a1), to(#fff));
		background: -webkit-linear-gradient(top, #4040a1, #fff);
		background: -moz-linear-gradient(top, #4040a1, #fff);
		background: linear-gradient(to bottom, #4040a1, #fff);
	}

	.text{
		font-size: 1.35em;
	}

	.doodlr-s{
		width: 50%;
		border-radius: 100%;
	}

	.header{
		font-size: 2.6em;
	}

	#works .holder{
		/*border: 1px dotted #aaa;*/
		column-count: 2;
		column-gap: 5px;
		column-fill: balance;
	}

	#works .title{
		font-size: 1.6em;		
	}

	.contact br{
		display: none;
	}

	.contact .btn{
		clear: both;
		margin: 20px 0px 0px 0px;
	}
	
	.contact label, .contact .header{
		color: #ECF0F1;
	}

	.links .filler, .links [class*="link-"], .links a{
		display: inline-block;
	}

	.links .link-holder{
		column-gap: 5px;
		column-count: 3;
		-webkit-column-count: 3;  /* Chrome, Safari, Opera */ 
		-moz-column-count: 3; /* Firefox */
	}
}

@media screen and (min-width: 1000px){
	.doodlr-s{
		width: 25%;
	}

	#introbg{
		position: absolute;
		top: 0%;
		bottom: 0%;
		right: 0%;
		left: 0%;
	}

	#introcolor{
		/*background-color: initial;*/
		background: -webkit-linear-gradient(left top, #16A085, #3498DB);
		background: -o-linear-gradient(bottom, #16A085, #3498DB);
		background: -moz-linear-gradient(bottom, #16A085, #3498DB);
		background: linear-gradient(to bottom right, #16A085, #3498DB);
		/*background-image: url('../images/coffee-beans-d.png');*/
		position: absolute;
		display: none;
		top: 0%;
		bottom: 0%;
		right: 0%;
		left: 0%;
	}

	#intro{
		background-image: url("../images/coffee-beans-d.png");
		background-position: left bottom;
		background-repeat: repeat-x;
		z-index: 99;
	}

	.parallax{
		/* Full height */
		height: 100%; 

		/* Create the parallax scrolling effect */
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	#works{
		background-image: url('../images/Background.jpg');		
	}

	#wc{
		display: none;
	}

	#links{
		background-image: url('../images/fireworks.jpg');		
	}

	#contact{
		background-image: url('../images/portrait.jpg');		
	}

	.footer{
		background-color: #070B0C;
	}

	.buttons-1, .buttons-2{
		display: none;
		position: fixed;
		width: 20px;
		background-color: transparent;
		right: 5%;
		z-index: 3;
		/*border: 1px #000 solid;*/
	}
	
	.buttons-1{
		bottom: 37.5%;
	}

	.buttons-2{
		top: 37.5%;
	}

	.buttons-1 [class*="button-"], .buttons-2 [class*="button-"]{
		border-radius: 100%;
		border: 1px dotted rgba(0, 0, 0, 0.1);
		width: 100%;
		height: 20px;
		margin: 20px;
		background-color: rgba(0, 0, 0, 0.2);
	}
}