body{
	background-color: #4040a1;
	background-image: url("../images/coffee-beans-i.png");
	background-position: left top;
	background-repeat: repeat-x;
	font-family: "Segoe UI", sans-serif;
	font-size: 100%;
	box-sizing: border-box;
}

*{
	box-sizing: border-box;
}

article{
	padding: 20px;
	background-color: rgba(185, 188, 189, 0.3);	
}

blockquote{
	font-size: 1.3em;
	text-align: center;
	font-weight: lighter;
	color: #bcc8cc;
}

.text{
	font-family: "Segoe UI", sans-serif;
	font-size: 1.25em;
	font-weight: lighter;
	text-decoration: none;
	color: #fff;
}

.title{
	color: #fefbd8;
	font-size: 1.75em;
	text-decoration: none;
	font-weight: lighter;
	text-align: center;
	margin-bottom: 20px;
	display: block;
}

.header{
	color: #fefbd8;
	font-size: 1.5em;
	text-decoration: none;
	font-weight: lighter;
}

.caption{
	font-family: "Century Gothic", sans-serif;
	color: #bcc8cc;
	text-align: center;
	margin: 10px;
}

img{
	width: 100%;
}

.link{
	text-decoration: none;
	opacity: 0.8;
	transform: opacity, 0.2s;
	color: #fff;
	border-bottom: 1px #fff dotted;
}

.link:hover{
	opacity: 1;	
}

/*.link:hover{
	opacity: 0.8;
}*/

.thumbnail{
	width: 100%;
}

.thumb-holder{
	width: 100%;
	display: inline-block;
	padding: 0 5px;
	/*border: 1px #fff dotted;*/
}

.back-btn{
	display: inline-block;
	cursor: pointer;
	padding: 20px;
	border-radius: 5px;
	background-color: rgb(255, 255, 255);
	color: #000;
	opacity: 0.3;
	font-weight: bolder;
	position: fixed;
	bottom: 20px;
	right: 20px;
	font-size: 1.5em;

}

@media screen and (min-width: 720px){
	.thumbnail{
		width: 100%;
	}

	.thumb-holder-l{
		width: 30%;
		float: left;		
		padding-right: 20px;
	}

	.thumb-holder-r{
		width: 30%;
		float: right;
		padding-left: 20px;
	}

	.thumb-holder-c{
		margin: 0px auto;
		width: 30%;
	}

	.back-btn{
		top: 20px;
		left: 20px;
		bottom: initial;
		right: initial;
	}
}