body{
	background-color: #aaa;
	font-family: serif;
}

body div{
	height: 863px;
}

#left td{
	padding: 15px 4px 15px 4px;
}

#board table{
	border-collapse: collapse;
	position: absolute;
	left: 168px;
	top: 94px;
}

#board td{
	width: 94px;
	height: 94px;
}

#una{
	width: 90%;
	position: absolute;
	bottom: 450px;
	margin-left: 7px;
	border-collapse: collapse;
	border-bottom: 20px;
}

#pangalawa{
	width: 90%;
	position: absolute;
	top: 420px;
	margin-left: 7px;
	border-collapse: collapse;
}



#first{
	background-color: rgb(83, 175, 19);
}

#left{
	width: 171px;
	position: absolute;
	top: 0px;
	left: 0px;
}

#board{
	background-color: #000;
	width: 1024px;
	position: absolute;
	left: 171px;
	top: 0px;
	box-shadow: 2px 2px 10px 2px;
	background-image: url("images/board.jpg");
}

input, button{
	background-color: rgb(152, 207, 113);
	border-color: rgb(83, 175, 19);
	font-size: 1em;
}

input{
	float: right;
}

.hit{
	background: url("images/ship.png") no-repeat center center;
}

.miss{
	background: url("images/miss.png") no-repeat center center;
}

.message{
	width: 100%;
	background-color: rgb(0, 0, 0);
	color: rgb(83, 175, 19);
	text-align: center;
	font-size: 1.2em;
	border-radius: 2px;
}

#right{
	position: absolute;
	left: 1195px;
}

#right table{
	border-collapse: collapse;
	margin-left: 10px;
	position: absolute;
	top: 200px;
}

#right table th{
	border: 1px dotted #fff;
	padding: 7px;
}

#top{
	background-color: #53AF13;
}

#right table td{
	text-align: center;
	border: 1px dotted #fff;
}

ul{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}