#main-holder table{
	margin: 0px auto;
}

#main-holder .input{
	border: none;
	border-bottom: 2px solid #aaa;
	background-color: #FFFACD;
	font-family: "Courier New", monospace;
	font-size: 1.15em;
}

#main-holder textarea{
	resize: none;
}

#main-holder button{
	font-family: "Courier New", monospace;
	font-size: 1.15em;
	background-color: #d2691e;
	border: none;
	color: #FFF8DC;
	padding: 10px 15px;
	margin: 5px;
	float: right;
	transition: background-color 0.3s;
	-webkit-transition: background-color 0.3s;
	-moz-transition: background-color 0.3s;
	-o-transition: background-color 0.3s;
}

#main-holder button:hover{
	background-color:#F37A2F;
}