body {
	background-color: #444;
	font-size: 100%;
	font-family:  "Courier New", monospace;
	margin: 20px auto;
	width: 1000px;
}

#logo{
	width: 220px;
	position: absolute;
	left: 390px;
	top: -80px;
}

#header{
	width: 100%;
	height: 150px;
	background-color: #2B2B2B;
	box-shadow: 0px 0px 50px 1px #333;
}

nav{
	width: 100%;
	height: 60px;
	background-color: #1A1A1A;
	position: relative;
}

nav ul{
	margin: 0;
	padding: 0;
	font-size: 1.4em;
	text-align: center;
}

nav ul li{
	list-style-type: none;
	float: left;
	height: 60px;
	width: 20%;
}

nav ul li a{
	color: #ddd;
	text-decoration: none;
	display: block;
	padding: 8.5% 0px;
	transition: background-color 0.6s;
	-webkit-transition: background-color 0.6s;
	-moz-transition: background-color 0.6s;
	-o-transition: background-color 0.6s;
}

nav ul li a:hover{
	background-color: #4D4D4D;
}

section{
	width: 100%;
    background-color: #4D4D4D;
    box-shadow: 0px 0px 50px 1px #333;
}

#main-holder{
	padding: 50px;
	color: #ccc;
}

#main-holder a{
	text-decoration: none;
	color: #ddd;
}

#mainholder a:visited{
	color: #ddd;
}

#main-holder a:hover{
	text-decoration: underline;
}

#main-holder h3{
	color: #eee;
	font-weight: normal;
	text-decoration: underline;
}

#main-holder h4{
	color: #ccc;
	font-weight: normal;
}

#main-holder ul{
	list-style-type: none;
}

#message{
	font-size: 2em;
}

#next{
	width: 20px;
	border-bottom: 3px solid #eee;
}

#message-holder table{
	border-collapse: collapse;
}

#message-holder{
	width: 30%;
	margin: 350px auto;
	color: #FFF8DC;
}

.links{
	width: 18%;
	height: 50px;
	display: inline-block;
	text-align: center;
}

#link-holder{
	padding-left: 50px;
}

footer{
	width: 100%;
	height: 70px;
	background-color: #2B2B2B;
	display: inline-block;
	text-align: center;
	box-shadow: 0px 5px 10px 1px #333;
}

footer p{
	padding: 10px;
	color: #ddd;
	font-size: 0.8em;
}

#postHolder{
	margin-bottom: 10px;
}

#post{
	padding: 10px;
	background-color: #4f4f4f;
	border-radius: 2px;
}

#date{
	font-size: 0.7em;
}

#more{
	text-align: right;
	color: #ddd;
	padding-right: 20px;
}

#post a:visited{
	color: #ddd;
}
