body {
	background-color: #404090;
	font-size: 100%;
	font-family:  "Courier New", monospace;
	margin: 20px auto;
	width: 1000px;
}

#holder{
	box-shadow: 0px 0px 20px 1px #070040;
}

#logo{
	width: 220px;
	position: absolute;
	left: 390px;
	top: -80px;
}

#header{
	width: 100%;
	height: 150px;
	background-color: #090060;
}

nav{
	width: 100%;
	height: 60px;
	background-color: #070040;
	position: relative;
}

nav ul{
	margin: 0;
	padding: 0;
	font-size: 1.4em;
	text-align: center;
}

nav ul li{
	list-style-type: none;
	float: left;
	width: 20%;
}

nav ul li a{
	color: #ddd;
	text-decoration: none;
	display: block;
	padding: 20px 0px;
	transition: background-color 0.6s;
	-webkit-transition: background-color 0.6s;
	-moz-transition: background-color 0.6s;
	-o-transition: background-color 0.6s;
}

nav ul li a:hover{
	background-color: #404090;
}

nav ul li a:active{
	background-color: #404090;
}


section{
	width: 100%;
    background-color: #404090;
}

#main-holder{
	padding: 50px;
	color: #ccc;
}

#main-holder a{
	text-decoration: none;
	color: #eee;
}

#main-holder a:visited{
	color: #eee;
}

#main-holder a:hover{
	text-decoration: underline;
}

#main-holder h3{
	color: #fff;
	font-weight: normal;
	text-decoration: underline;
}

#main-holder h4{
	color: #fff;
	font-weight: normal;
}

#main-holder ul{
	list-style-type: none;
}

#message{
	font-size: 2em;
}

#next{
	width: 20px;
	border-bottom: 3px solid #eee;
}

#message-holder table{
	border-collapse: collapse;
}

#message-holder{
	width: 30%;
	margin: 350px auto;
	color: #eee;
}

.links{
	width: 18%;
	height: 50px;
	display: inline-block;
	text-align: center;
}

#link-holder{
	padding-left: 50px;
}

footer{
	width: 100%;
	height: 70px;
	background-color: #070040;
	display: inline-block;
	text-align: center;
	/*box-shadow: 0px 5px 10px 1px #333;*/
}

footer p{
	padding: 10px;
	color: #ddd;
	font-size: 0.8em;
}

#postHolder{
	margin-bottom: 10px;
	width: 100%;
	background-color: transparent;
	position: relative;
}

.background{
	opacity: 0.2;
	height: 150px;
	width: 100%;
	background-color: #eee;
}

#post{
	padding: 10px;
	background-color: transparent;
	border-radius: 1px;
	padding: 10px;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 96%;
}

#date{
	font-size: 0.7em;
}

.more{
	text-align: right;
}

#more-unique{
	float: right;
	display: inline-flex;
	align-self: bottom;
}

#post a:visited{
	color: #eee;
}

.selected{
	background-color: #404090;
	transition: none;
}

#main-holder .input{
	border: none;
	border-bottom: 2px solid #ccc;
	background-color: transparent;
	font-family: "Courier New", monospace;
	font-size: 1.15em;
	color: #eee;
}

#main-holder textarea{
	resize: none;
	color: #eee;
}

#main-holder button{
	font-family: "Courier New", monospace;
	font-size: 1.15em;
	background-color: transparent;
	border: none;
	color: #ccc;
	padding: 10px 15px;
	margin: 5px;
	float: right;
	transition: background-color, 0.3s;
	-webkit-transition: background-color, 0.3s;
	-moz-transition: background-color, 0.3s;
	-o-transition: background-color, 0.3s;
}

#main-holder button:hover{
	background-color:#202070;
	color: #eee;
}

#main-holder label{
	color: #eee;
}

#main-holder p{
	color: #fff;
}

figcaption{
	color: #fff;
}

#about img{
	box-shadow: 0px 0px 10px 1px #3a0071;
}

#main-holder blockquote{
	color: #fff;
}

#vsa{
	box-shadow: 0px 0px 10px 1px #3a0071;
}

#backHolder{
	display: flex;
	align-self: bottom;
	float: right;
}

#backHolder{
	display: flex;
	align-self: bottom;
	float: right;
}

.websites-imageHolder img{
	box-shadow: 0px 0px 10px 1px #333;
	width: 720px;
	margin: 20px 0px;
}

.websites-imageHolder table{
	margin: 0px auto;
}