#main-holder{
	text-align: center;
	padding: 20px;
}

#main-holder table{
	margin-top: 70px;
	border-collapse: collapse;
}

.content{
	background-color: transparent;
	opacity: 0.6;
	width: 90%;
	margin-top: 0px;
	padding: 3px;
	transition: opacity, box-shadow 0.5s;
	-webkit-transition: opacity, box-shadow 0.5s;
	-moz-transition: opacity, box-shadow 0.5s;
	-o-transition: opacity, box-shadow 0.5s;
	position: flex;
}

.content p{
	padding: 0px 10px;
}

.content:hover{
	opacity: 1;
	box-shadow: 0px 0px 10px 1px;
}

.description{
	display: block;
}