body{
    padding: 20px;
}
/*.audio{
    margin-bottom: 5px;
}

.date{
    display: inline-block;
    margin-right: 5px;
}

.link{
	text-decoration: none;
	opacity: 0.8;
	transform: opacity, 0.2s;
	color:  #000;
	border-bottom: 1px  #000 dotted;
    transition: opacity, 0.5s;
}

.link:hover{
	opacity: 1;	
}*/

.recordings-holder{
    border: 1px solid black;   
}

.recordings-holder .recording{
    border: 1px dotted black;
    /*display: inline-block;*/
    margin: 0px auto;
}
