body{
    background-color: #dfdfdf;
}

header{
    width: 80%;
    margin: 0px auto;
    border: 1px dotted #000;
    text-align: center;
}

main{
    width: 80%;
    height: 500px;
    background-color: green;
}
#wrapper{
    background-color: #ececec;
    margin: 0;  
}

.logo{
    width: 15%;
    margin: 20px;
}

.scene{
    width: 60%;
    height: 30%;
    border: 1px solid black;
}